<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <style>
        body {
            margin: 0;
        }
        .container {
            height: 800px; /* Comentado: 1600 x 900 */
            display: flex;
        }
        .caixa {
            width: 10%;
            height: 100px;
            background-color: red;
        }
    </style>
</head>
<body style="background-color: aqua;">
    <div class="container">
        <div class="caixa">11</div>
        <div style="background-color: green;" class="caixa">22</div>
        <div style="background-color: green;" class="caixa">33</div>
        <div style="background-color: green;" class="caixa">44</div>
        <div class="caixa">55</div>
        <div style="background-color: green;" class="caixa">66</div>
    </div>
</body>
</html>
